body::-webkit-scrollbar {
  width: 0;
  }
/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px; 
  background: #1d1f1d;
  z-index: 100;
  transition: all 0.5s ease;
  overflow-y: auto;
}
/* Hide the scrollbar by default */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Show the scrollbar when content overflows */
.sidebar:hover::-webkit-scrollbar {
  display: relative;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
  
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #2C3333;
  
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.sidebar.close .nav-links li .iocn-link{
  display: block;
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
  }
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
  }
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #2C3333;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
  padding-top: 15px;
  }

.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 13px;
  padding: 5px 0;
  white-space: nowrap;
  margin-left: 20px;
  opacity: 0.6;
  transition: all 0.3s ease;
  }
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
  color:#09c372;
  margin-left: 40px;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  }
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  color:#09c372;
  transition: all 0.4s ease;
  }
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
  color:#09c372;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
  }

.home-section{
  position: fixed;
  z-index: 1;
  background: #E4E9F7;
  /* height: 100vh; */
  height: 60px;
  left: 260px;
  width: calc(100% - 260px);
  background-color: #2C3333;
  transition: all 0.5s ease;
  }
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
  }
.home-content{
  height: 60px;
  
  /* border: 10px solid #09c372; */
  }
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
  }
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #fff;
  font-size: 25px;
  padding: 5px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(70, 73, 72);
  }
  .home-section .home-content .bx-menu:hover{
    background-color: #09c372;

    }
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
  } 
.profile-pic img {
  border-radius: 50%;
  width: 100px; /* set this to the desired width */
  height: 100px; /* set this to the desired height */
  object-fit: cover; /* ensures that the image fills the container without stretching */
  display: block; /* removes any extra spacing below the image */
  margin: 0 auto; /* centers the image horizontally */
  border: 3px solid #09c372;
}
.sidebar.close .profile-pic img {
  display: none;
}
.sidebar.close .profile-info {
  display: none;
}
.profile-info {
  text-align: center; /* centers the text below the image */
  margin-top: 5px; /* adds some space between the image and the text */
  color: #09c372;
}

.profile-info span {
  font-size:15px; /* sets the font size for the "Welcome!" text */
  display: block; /* ensures that the text is on a separate line from the name */
  color: #09c372;
}

.profile-info h2 {
  font-size: 20px; /* sets the font size for the name */
  margin-top: 5px; /* adds some space between the "Welcome!" text and the name */

}
.home-section {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid orange; */
}
.header-profile {
  display: flex;
  align-items: center;
  margin-right: 30px;
  /* border: 3px solid #09c372; */
}
.mess{
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
.notif {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
.mess:hover,.notif:hover{
  color:#09c372
}

.count {
  position: absolute;
  background-color: #ff0000;
  color: #fff;
  font-size: 8px;
  padding: 2px 4px;
  border-radius: 50%;
  cursor: pointer;
}

.notif-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.notif-icon:hover {
  cursor: pointer;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-toggle:hover {
  display: flex;
  align-items: center;
  color: #09c372;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-toggle img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid white;
  
}

.dropdown-toggle span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px;
  min-width: 150px;
  z-index: 999;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown-menu li a:hover {
  background-color: #f5f5f5;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.dropdown-menu {
  color: #fff;
  right: -35px;
}

.dropdown-menu img {
  margin-top: 5px;
  border: 2px solid #09c372;
}

.dropdown-menu .user-header p {
  margin-top: 5px;
  margin-left: 3px;
}

.btnlog {
  color: white;
  background-color: #09c372;
  min-width: 150px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}
.dropdown-menu .user-footer a {
  border-radius: 8px;
}

.dropdown-menu .user-footer a:hover {
  color: white;
  background-color: #1d1f1d;
}


.content{
  position: relative;
  background: #E4E9F7;
  /* background: black; */
  min-height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  /* border: 3px solid #09c372; */
}
.sidebar.close ~ .content{
  left: 78px;
  width: 
  calc(100% - 78px);
}
  .ontop{
      height: 70px;
  }
  .profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 30px 0 30px;
    overflow-y: visible;
    margin-bottom: 30px;
  }
  
  .profile-content .photo {
    margin-bottom: 30px;
  }
  
  .profile-content .photo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border: 3px solid white;
    
  }
  
  .profile-content .uploadPhoto input[type="file"] {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    max-width: 230px;
  }
  
  .profile-content .form-control {
    border-radius: 10px;
  }
  
  .profile-content .btn {
    margin-bottom: 30px;
    background-color: #09c372;
    border: none;
}
    .btn-save {
        background-color: #09c372;
        color: #fff;
        min-width: 100%;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        border: none;
    }

    .btn-save:hover {
        background-color: #1d1f1d;
    }
    .alert {
        width: 100%;
        max-width: 800px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-weight: bold;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border-color: #c3e6cb;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border-color: #f5c6cb;
    }


@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}